<header>

  <input type="checkbox" name="" id="toggler">
  <label for="toggler"></label>
  <fa-icon [icon]="faBarsIcon"></fa-icon>
  <a href="#" class="logo">Cromatic <span class="font">Para ti</span></a>

  <nav class="navbar">
    <a href="#inicio">Inicio</a>
    <a href="#acerca">Acerca</a>
    <a href="#productos">Productos</a>
    <a href="#reviews">Reviews</a>
    <a href="#contact">Contacto</a>
  </nav>

  <div class="icons">
    <fa-icon [icon]="fahear"></fa-icon>
    <fa-icon [icon]="faShoppingIcon"></fa-icon>
    <fa-icon [icon]="faUserIcon"></fa-icon>
  </div>

</header>

<router-outlet></router-outlet>